[Unit]
Description=Dockerized Wsgi Application
PartOf=snap.docker.dockerd.service
After=snap.docker.dockerd.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/app-service/mini-wsgi-app
ExecStart=/snap/bin/docker-compose up -d 
ExecStop=/snap/bin/docker-compose down

[Install]
WantedBy=multi-user.target